* {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 16px;
  font-family: 'Poppins';
  line-height: 1.5;
  font-weight: 400, 500, 600, 700;
}

body {
  background: hsl(0, 100%, 74%) url('bg-intro-mobile.png') no-repeat;
  background-size: cover;
  background-position: center;
}

.flex-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  width: 85%;
  margin: 0 auto;
}

.grid-container {
  display: grid;
  grid-columns: 30% 30% 30%;
  grid-rows: 80%;
  height: 100vh;
  width: 80%;
  margin: auto;
  align-items: center;  
  border-radius: 20px;
}

aside {
  background: transparent;
  margin-bottom: 20px;
  text-align: center;
  padding: 2rem 0;
}

h1 {
  margin: 1rem 0;
  font-size: 2rem;
}

.grid-container .sedan {
  background: #6a78ff;
  padding: 2.5rem;
  grid-column: 1;
  grid-row: 1;
}

article div {
  background: hsl(248, 32%, 49%);
  text-align: center;
  border-radius: 5px;
}

article div p {
  padding: 15px 0;
}

article div p span {
  font-weight: bold;
}

form {
  background: white;
  margin: 1.5rem auto;
  padding: 1rem;
  border-radius: 5px;
}

input {
  padding: 10px;
  width: 90%;
  margin: .5rem auto;
  border: 1px solid gray;
  border-radius: 5px;
  color: black;
}

input:focus {
  outline: 1px solid hsl(249, 10%, 26%);
}

.grid-container .suv {
  background: #74b35a;
  padding: 2.5rem;
  grid-column: 2;
  grid-row: 1;
}

.btn {
  background: hsl(154, 59%, 51%);
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  width: 100%;
}

.btn:hover {
  background: hsla(154, 51%, 59%, 0.75);
}


.subtitle {
  color: hsl(246, 25%, 77%);
  text-align: center;
}

.subtitle span {
  color: hsl(0, 100%, 74%);
  font-weight: bold;
}


/* for large screen size */
@media (min-width: 375px) {
  body {
    background: hsl(0, 100%, 74%) url('bg-intro-desktop.png') no-repeat;
  }
  .flex-container {
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
  }
  
  aside {
    text-align: left;
  }
  
  input {
    width: 95%;
  }
}
