<!DOCTYPE html>
<head>
  <title>Resume Builder</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/resume.css" type="text/css" />
</head>
<body>
  <main>
  	<aside>
  		<h1>Philip Oyelegbin</h1>
  		<label>Full-Stack Web Developer</label>
  		
  		<!-- personal information -->
  		<h3>Personal Information</h3>
  		<label><b>Address</b><br>
  		17 Maidan Road, Mile-12 Lagos.</label><br>
  		<label><b>E-mail</b><br>
  		<a href="mailto: philipoyelegbin@gmail.com">philipoyelegbin@gmail.com</a></label><br>
  		<label><b>Phone</b><br>
  		<a href="tel: +2348054945601">+2348054945601</a></label><br>
  		<label><b>LinkedIn</b><br>
  		<a href="https://linkedin.com/in/philipoyelegbin">linkedin/in/philipoyelegbin</a></label>
  		
  		<!-- skills -->
  		<h3>Technical Skills</h3>
  		<ul>
		  <li>UI/UX design (Figma)</li>
		  <li>Front-end (HTML5, CSS3, SASS, JavaScript)</li>
		  <li>Back-end (Python: Flask)</li>
		  <li>Database management (MySQL)</li>
		</ul>
  		
  		<!-- language -->
  		<h3>Language</h3>
		<ul>
			<li>Spanish</li>
		</ul>

		<!-- form -->
		<form action="https://formsubmit.co/philipoyelegbin@gmail.com" method="POST">
			<h3>Feedback</h3>
                        <input type="hidden" name="_subject" value="New feedback" />
			<input type="text" name="name" placeholder="Full Name" required /><br>
			<input type="email" name="email" placeholder="example@mail.com" required /><br>
			<textarea name="comment" id="comment" cols="30" rows="10" placeholder="Comments"></textarea><br>
			<input type="reset" value="Reset">
			<input type="submit" value="Send">
		</form>

		<div class="result">{{ msg | safe }}</div>
  	</aside>
  	<article>
  		<p>Top performing developer with strong believe in mobile first approach.</p>
  		
  		<!-- experience -->
  		<h3>Experience</h3>
		<p><strong>Community Service</strong></p>
  		<ul>
		  <li>Development of OYETEK official website (2020)</li>
		  <li>Development of a real-time voting website (2020)</li>
		</ul>
  		
  		<!-- education -->
  		<h3>Education</h3>
  		<label><strong>HND,</strong> Industrial Maintenance Engineering<br>
  		Yaba College of Technology (in view)</label>
  		
  		<!-- certificate -->
  		<h3>Certificate</h3>
  		<p><strong>Networking Essentials, Fundamentals of IOT</strong><br>
  		Cisco (2020)</br>
  		<strong>HTML, CSS, JavaScript, Python3, SQL</strong><br>
  		SoloLearn (2020)</p>
  		
  		<!-- recognition -->
  		<h3>Recognition</h3>
  		<p><strong>Solution Challenge,</strong> Google Student Developer<br>
  		2021<br>
		<strong>Volunteerism</strong> HOPE FOR THE FUTURE INITIATIVE, REYL hub<br>
		2020<br>
  		<strong>Mentorship,</strong> Raising Equipped Young Leaders (REYL) hub<br>
  		2020</p>
  	</article>
  </main>
</body>
</html>
